<section>
  <ul>
    <li><a (click)="allProducts()" class="allProducts">Alla Filmer</a></li>
    <li *ngFor="let c of category">
      <a (click)="enterCategory(c.id)">{{ c.name }}</a>
    </li>
  </ul>
  <article>
    <input
      #inputSearch
      (input)="search(inputSearch.value)"
      type="text"
      placeholder="Sök efter film"
    />
  </article>
  <article *ngIf="resultSearch; else noResult">
    <app-product
      *ngFor="let p of productsdisplayed"
      [product]="p"
    ></app-product>
  </article>
  <ng-template #noResult>
    <article>
      <p>Produkten du sökte efter fanns inte, försök igen.</p>
    </article>
  </ng-template>
</section>
