section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 20px;
}
input {
  width: 20%;
}

button {
  margin-top: 10px;
  width: 20%;
}

ul {
  border: 3px solid purple;
  padding: 5px;
  list-style-type: none;
  border-radius: 5px;
  box-shadow: 4px 4px 4px darkgray;
}

button {
  color: white;
  background-color: darkblue;
  box-shadow: 2px 2px 2px white;
}
