section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  width: 40%;
}

.price {
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px darkblue;
}
img {
  width: 20%;
  box-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
}

button {
  cursor: pointer;
  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  color: white;
  background-color: maroon;
  box-shadow: 2px 2px 2px white;
}
.navigate {
  background-color: black;
}
